body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, section, footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
